@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* :root {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid; 
}  */

:root {
  background-color: #f6f5f2;
  --color-bg: #f6f5f2;  /* Define default (light) colors for bg & text */
  --color-text: #000; 
  --bg-primary: #f6f5f2;
  --text-primary:#000;
  --nav-bg: #f0f0f0;
  --nav-text: #253547;
  --footer-bg: #eaeaea;
  --footer-text: #000;
}


/* Override bg & text colors for dark mode */
.dark {
  --color-bg: 	#2c2424;
  --color-text: #d7d7e6;
  --text-primary:#ffffff;
  --nav-bg: #313131;
  --nav-text: #b1b3b8;
  --footer-bg: #313131;
  --footer-text: #b1b3b8;
}

/* Use these variables */
@theme inline {
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
  --nav-bg: var(--nav-bg);
  --nav-text: var(--nav-text);
  --footer-bg: var(--footer-bg);
  --footer-text: var(--footer-text);
  --text-primary: var(--text-primary);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

@theme {
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-poppins: "Poppins", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --breakpoint-xsm: 450px;
  --breakpoint-smc: 650px;
  --breakpoint-mdPlus: 800px;
  --breakpoint-custom: 1200px;
}

@layer utilities {
  @keyframes fade-in-out {
    0%,
    100% {
      opacity: 0;
    }
    10%,
    90% {
      opacity: 1;
    }
  }

  .animate-fade-in-out {
    animation: fade-in-out 1.5s ease-in-out;
  }
}


.motion-smooth {
  will-change: transform, opacity;
  transform: translateZ(0); 
}